<!DOCTYPE html>
<html lang="en" ng-app="polls">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>PollNow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-controller="PollListCtrl">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header"><a href="#/polls" class="navbar-brand">PollNow</a></div>
    </nav>

    <div class="container">
      <div ng-view></div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text">
          2016 &copy Charles Guo.  Made with &#10084 in Singapore. <br>
          PollNow is an instant (i.e. no login required) quick poll RESTful API service built using
          <a class="footer-href" href="http://expressjs.com">Express.JS</a>,
          <a class="footer-href" href="https://www.mongodb.org/">MongoDB</a>,
          <a class="footer-href" href="http://socket.io/">Socket.IO</a>,
          <a class="footer-href" href="https://angularjs.org/">AngularJS 1</a> and
          <a class="footer-href" href="http://getbootstrap.com/">Bootstrap</a>.
        </p>
      </div>
    </footer>

  </body>
</html>
